<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumDockerMaven212" parallel = "false">
    <listeners>
    
        <listener class-name="com.iftas.docker.listeners.ExecutionListener"/>    
    
    </listeners>

	<test name="SFMSApplication" preserve-order="true">
		<classes>
			    <class name="com.iftas.methodsTest.LoginTest" />
			        <class name="com.iftas.methodsTest.AddEnvironmentsTest" />
			           <class name="com.iftas.methodsTest.TechnologiesTest" />
			              <class name="com.iftas.methodsTest.TestTypesTest" />
			                 <class name="com.iftas.methodsTest.AddingProductTest" />
			                 <class name="com.iftas.methodsTest.AddRoleTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->